# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\my_github_projects\fyCodeGraphs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
